/* 
contact form 
 */


 :root{
    --veytel-blue: #7092da;
 }

/* background */
body{
    
    

    text-align: center;
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)), url(./assets/images/contact_photo.jpg);
    background-size: cover;
    background-position: center;

    font-family: Gill Sans MT;
    color:rgb(255, 255, 255);
    font-size: 20px;
    margin: auto;
    margin-top: 15rem;
    max-width: 650px;
    
}

/* submit button */
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #3a3a3a;
    color: var(--veytel-blue);
    font-size: 18px;
    margin-bottom: 16px;
    max-width: 350px;
}

input{
    height: 45px;
}

form .submit{
    background: #3dcab1;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin: auto;
    max-width: 200px;
    text-align: center;
    

}

form .submit:hover{
    background-color:#4486ff;
    cursor: pointer;
}

.contact-container{
    background-color: white;
    margin:auto;
    max-width: 650px;
    box-shadow: 0px 5px 5px rgba(31, 31, 31, 0.3);
}
