@import url("./variables.css");

footer {
    width: 100vw;
    /* background-color: var(--lightest-color); */
    background-color: var(--light-background-color);
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45rem;
    overflow: hidden;
}

.footer-content-con {
    z-index: 3;
    width: 100%;
    height: fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 14%;
    position: absolute;
    bottom: 0;
}

.footer-content-con div:not(.socials-con) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footer-content-con .logo {
    max-width: 15rem;
    width: 30vw;
}

.footer-content-con h2 {
    font-size: 3vw;
    font-family: var(--slab-font-family);
}

.footer-info p{
    line-height: 3rem;
    font-size: 2rem;
}

footer .footer-info p.footer-spacer {
    display: none;
}


.footer-info p:not(.copyright) {
    font-weight: bold;
}

.socials-con {
    display: flex;
    margin-top: 1rem;
    gap: 4vw;
}

.socials-con img {
    width: 4vw;
    max-width: 4rem;
}

.copyright {
    font-family: var(--slab-font-family);
    font-weight: 100;
    opacity: .5;
}

footer .tilted-rec-1, footer .tilted-rec-2 {
    margin-top: 16.5vw;
}

footer .tilted-rec-1 {
    width: 200vw;
    height: 35rem;
    background-color: var(--secondary-color);
    position: absolute;
    transform: rotate(-12deg);
    z-index: 2;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

footer .tilted-rec-2{
    width: 200vw;
    height: 35rem;
    background-color: var(--secondary-color-dark);
    position: absolute;
    transform: rotate(12deg);
    z-index: 1;
}

a {
    height: fit-content;
    width: fit-content;
}

@media only screen and (max-width: 1200px) {
    .footer-content-con h2 {
        font-size: 4vw;
        font-family: var(--slab-font-family);
    }
}

@media only screen and (max-width: 800px) {
    .footer-content-con h2 {
        font-size: 4.2vw;
        font-family: var(--slab-font-family);
    }
}

@media only screen and (max-width: 768px) {
    footer {
        height: 50vw;
        display: flex;
        align-items: flex-end;

    }
    
    footer .tilted-rec-1, footer .tilted-rec-2 {
        margin-top: 0rem;
        height: 15rem;
    }
    
    footer .tilted-rec-1 {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    }

    .footer-content-con div:not(.socials-con) {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 0;
    }

    footer .footer-info {
        display: flex;
        justify-content: center;
        width: 90%;
        flex-wrap: wrap;
        gap: .5rem;
        scale: 1.2;
    }

    footer .footer-info .copyright {
        display: none;
    }

    footer .footer-info p{
        font-family: var(--condensed-font-family);
        font-size: 1rem;
        line-height: initial;
    }

    footer .footer-info p.footer-spacer {
        display: initial;
        color: white;
    }

    .footer-content-con {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7%;
        padding-bottom: 15vw;
        padding-top: 0;
        height: fit-content;
    }
    .footer-content-con .logo {
        display: none;
    }
    .footer-content-con h2 {
        display: none;
    }

    .socials-con {
        display: flex;
        
        width: 100%;
    }

    .socials-con img {
        width: 2.5rem;
    }
}

@media only screen and (max-width: 620px) {
    footer {
        height: 65vw;
    }
}

@media only screen and (max-width: 450px) {
    footer {
        height: 85vw;
    }
}