.menu-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--nav-background);
    z-index: top;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-modal-top {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1% var(--main-left-right-padding);
}

.menu-modal-top .logo {
    cursor: initial;
}

.close-modal-button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--burger-color-light);
    font-family: var(--reg-font-family);
    font-weight: bold;
    font-size: 1.5rem;
    padding: .5rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.close-modal-button svg {
    height: 2rem;
}

.close-modal-button:hover {
    filter: brightness(120%)
}

.close-modal-button svg {
    fill: var(--light-text-color);
}

.modal-nav-content-con {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative
}

.menu-modal ul li, .menu-modal ul li a{
    font-family: var(--reg-font-family);
}

.menu-modal ul li {
    line-height: 2rem;
} 

.modal-nav-list {
    z-index: 10;
    padding: 7% 10%;
    padding-right: 0;
}

.modal-nav-list li{
    color: var(--light-text-color);
    font-weight: bold;
    font-size: 2.5rem;
    padding: .6rem 0;
    cursor: pointer;
}

.menu-modal-img-con {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chestxray-img {
    height: 76%;
    border: .5rem solid var(--primary-color);
    border-right: none;
}

.menu-modal-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.menu-modal-footer ul li {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5rem;
}

.menu-modal-footer, .menu-modal-footer-background {
    padding: 1% 10%;
    width: 100%;
}

.menu-modal-footer-background {
    height: 11rem;
    background-color: var(--secondary-color);
}


    .mobile-menu-modal {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--nav-background);
    }

    .mobile-menu-modal-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 7%;
    }
    .mobile-menu-modal-header img.logo {
        width: 50%;
    }
    .mobile-menu-modal-header img.x {
        width: 7%;
    }

    .mobile-menu-modal-main {
        position: relative;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu-modal-main ul li {
        font-size: 2rem;
        font-family: var(--reg-font-family);
        color: var(--light-text-color);
        font-weight: bold;
    }


    .mobile-menu-modal-main img {
        position: absolute;
        z-index: -1;
        opacity: .5;


    }









    
    .mobile-menu-modal {
        display: none;

        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--nav-background);
    }

    .mobile-menu-modal-header{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        padding: 0 7%;
    }
    .mobile-menu-modal-header img.logo {
        width: 50%;
    }
    .mobile-menu-modal-header img.x {
        cursor: pointer;
        width: 7%;
    }

    .mobile-menu-modal-main {
        position: relative;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65%;
    }

    .mobile-menu-modal-main ul li {
        font-size: 2.3rem;
        font-family: var(--reg-font-family);
        color: var(--light-text-color);
        font-weight: bold;
        text-align: center;
    }


    .mobile-menu-modal-main img {
        position: absolute;
        z-index: -1;
        opacity: .5;
        height: 80%;
        max-width: 90%;

    }

    .mobile-menu-modal-footer {
        background-color: var(--secondary-color);
        position:absolute;
        bottom: 0;
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        display: inline;
    }
    .mobile-menu-modal-footer p {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: bold;
        text-align: center;
    }

@media only screen and (max-width: 810px) {
    .menu-modal {
        display: none !important;
    }
    .mobile-menu-modal {
        display: initial;
    }

}