@import url("./variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

h1 {
    font-size: 4rem;
    font-family: var(--condensed-font-family);
    color: var(--primary-color);
}

h2 {
    font-size: 2rem;
    font-family: var(--reg-font-family);
    color: var(--primary-color);
}

p {
    font-size: 1.7rem;
    font-family: var(--reg-font-family);
    color: var(--primary-color);
}