@import url("./variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    touch-action: manipulation;
}

li {
    list-style: none;
}

a, .a-styles {
    text-decoration: none;
    cursor: pointer;
    color: var(--light-text-color)
}
a:hover, .a-styles:hover {
    text-decoration: underline;
}

.hidden {
    display: none !important;
}
.disabled {
    cursor:not-allowed !important;
}

.disabled:hover {
    scale: 1 !important;
    opacity: .3;
}


h1 {
    font-size: var(--h1-font-size-pc);
    font-family: var(--condensed-font-family);
    color: var(--primary-color);
}

h2 {
    font-size: var(--h2-font-size-pc);
    font-family: var(--reg-font-family);
    color: var(--primary-color);
}

h3 {
    font-size: var(--h3-font-size-pc);
}

p {
    font-size: var(--p-font-size-pc);
    font-family: var(--reg-font-family);
    color: var(--primary-color);
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}
video::-webkit-media-controls-play-button {
    display: none;
}
video::-webkit-media-controls {
    display: none;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.circle-next-arrow {
    transform: rotate(180deg);
}

.socials-con img:hover {
    /* opacity: .5; */
    cursor: pointer;
    scale: 1.1;
}

.send-email {
    color: var(--primary-color);
    text-decoration: none;
}
.send-email:hover {
    text-decoration: none;
}

label {
    font-family: var(--reg-font-family);
}


@media only screen and (max-width: 810px) {
    h1 {
        font-size: var(--h1-font-size-810px);
    }
    h2 {
        font-size: var(--h2-font-size-810px);
    }
    h3 {
        font-size: var(--h3-font-size-810px);
    }
    p {
        font-size: var(--p-font-size-810px);
    }
}

@media only screen and (max-width: 428px) {
    h1 {
        /* font-size: 2.5rem; */
        font-size: var(--h1-font-size-428px)
    }
    h2 {
        /* font-size: 1.5rem; */
        font-size: var(--h2-font-size-428px)
    }
    h3 {
        /* font-size: 1.5rem; */
        font-size: var(--h3-font-size-428px)
    }

    p {
        /* font-size: 1.2rem; */
        font-size: var(--p-font-size-428px)
    }
}
