@import url("../variables.css");

#products {
    background-color: var(--light-background-color);
    flex-wrap: wrap;
    position: relative;
    height: fit-content;
    width: 100%;
    /* margin-bottom: 3.5%; */
}

.product-con {
    width: 100%;
    height: fit-content;
}

#products .products-title-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5% 7%;
    padding-top: 7%;
    position: relative;
    width: 100%;
    z-index: 9;
    background-color: var(--lightest-color);
    /* padding-top: 3.5%; */
    gap: 3rem;
}

#products .products-title-con h2 {
    text-align: center;
    font-family: var(--condensed-font-family);
}

.products-title-con img {
    display: none;
}

#products h1 {
    z-index: 1;
    color: var(--primary-color);
}

#products h1, #products h2, #products h3, #products p {
    color: var(--primary-color)
}

.product-text-con {
    z-index: 1;
}

.product-text-con h2, .product-content-con h3 {
    font-family: var(--condensed-font-family);
}

.product-text-con h2 {
    /* font-size: 3rem; */
}
.product-text-con h3, .product-text-con p {
    /* font-size: 2.5rem; */
    margin-bottom: 1rem;
}

.product-button-con {
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.product-button-con a:hover {
    text-decoration: none;
    scale: 1.1;
    filter: brightness(1.1);
}

.product-button-con a {
    font-size: 1.5rem;
    font-family: var(--reg-font-family);
    padding: .6rem 1rem;
    font-weight: bold;
    border-radius: 2rem;
}

.product-button-con .request-demo-button {
    background-color: var( --secondary-color-dark);
}

.product-button-con .discover-more-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.product-content-con {
    width: 100%;
    height: 100%;
    display: flex;
    /* position: absolute; */
    align-items: center;
    padding: 3.5% var(--main-left-right-padding);
    justify-content: space-between;
    z-index: 2;
}

.product-text-con {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}

.product-img {
    z-index: 1;
    height: auto;
    width: 45%;
}

#product-1-con, #product-2-con, #product-3-con {
    position: relative;
}

#product-1-con::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 12rem;
    background: linear-gradient(to bottom, var(--lightest-color), transparent);
    pointer-events: none;
    z-index: 1;
}

#product-2-con {
    background-color: var(--lightest-color);
}

#product-3-con img, #product-3-con .product-text-con{
    z-index: 10;
}

#product-3-con::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(to top, var(--lightest-color), transparent);
    pointer-events: none;
    z-index: 1;
}

.request-demo-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    background-color: rgba(189, 211, 246, 0.5);
    /* backdrop-filter: blur(5px); */
}


.request-demo-form {
    width: 60%;
    height: fit-content;
    padding: 1rem 3rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid .2rem;
    border-radius: .7rem;
    background-color: lightgray;
    position: relative;
}

.request-demo-success, .request-demo-fail {
    width: 60%;
    height: fit-content;
    padding: 1rem 3rem;
    display: flex;
    text-align: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid .2rem;
    border-radius: .7rem;
    background-color: white;
    position: relative;
}

.request-demo-fail h1 {
    color: var(--error)
}

#close-request-demo-modal-btn {
    cursor: pointer;
}

.request-demo-form h3 {
    font-size: 2rem;
}

.request-demo-form input#email {
    width: 75%;
    height: 4rem;
    border: solid black .1rem;
    border-radius: 1rem;
    padding: 2rem 1rem;
    font-size: 1rem;
}

#close-request-demo-modal-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
}

.request-demo-form button[type="submit"] {
    width: fit-content;
    padding: .5rem 1rem;
    background-color: var(--secondary-color-dark);
    border: solid black .1rem;
    border-radius: .7rem;
    font-family: var(--reg-font-family);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.request-demo-form button[type="submit"]:hover {
    scale: 1.1;
    filter: brightness(1.1);
}

.request-demo-form button[type="submit"] img.send-icon {
    rotate: -35deg;
    transform: translateY(-.1rem);
}

.exit-btn {
    background-color: white;
    color: var(--error);
    border: solid black .1rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 25%;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}



@media only screen and (max-width: 1200px) {
    .product-content-con img {
        width: 47%;
    }
}

@media only screen and (max-width: 1010px) {
    #products h1 {
        color: var(--primary-color);
    }
    #products h3 {
        align-self: center;
        width: fit-content;
        padding: .5rem 1rem;
        color: var(--light-text-color);
        background-color: var(--primary-color);
    }
    #products h2, #products h3, #products p, .product-button-con{
        margin-bottom: 1rem;
    }
    
    #products .products-title-con {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7%;
        gap: .5rem;
    }

    .product-content-con {
        flex-direction: column;
    }
    .product-text-con {
        width: fit-content;
        line-height: 2rem;
    }
    .product-content-con img {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 620px) {
    .product-content-con img {
        width: 100%;
    }
}

@media only screen and (max-width: 538px) {

    .product-button-con {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .product-button-con a {
        width: 100%;
    }

    .product-button-con:hover {
        scale: 1;
    }
}