@import url("../variables.css");

#products {
    background-color: var(--light-background-color);
    /* display: flex; */
    flex-wrap: wrap;
    position: relative;
    height: fit-content;
    width: 100%;
}

.product-con {
    width: 100%;
    height: fit-content;
}

#products .products-title-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 9;
    background-color: var(--lightest-color);
}

.products-title-con img {
    display: none;
}

#products h1 {
    z-index: 1;
    color: var(--primary-color);
}

#products h1, #products h2, #products h3, #products p {
    color: var(--primary-color)
}

.product-text-con {
    z-index: 1;
}

.product-text-con h2, .product-content-con h3 {
    font-family: var(--condensed-font-family);
}

.product-text-con h2 {
    font-size: 3rem;
}
.product-text-con h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.product-content-con {
    width: 100%;
    height: 100%;
    display: flex;
    /* position: absolute; */
    align-items: center;
    padding: 3.5% var(--main-left-right-padding);
    justify-content: space-between;
    z-index: 2;
}

.product-text-con {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:center;
}

.product-img {
    z-index: 1;
    height: auto;
    width: 45%;
}

#product-1-con, #product-2-con, #product-3-con {
    position: relative;
}

#product-1-con::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(to bottom, var(--lightest-color), transparent);
    pointer-events: none;
    z-index: 1;
}

#product-2-con {
    background-color: var(--lightest-color);
}

@media only screen and (max-width: 768px) {
    #products h2 {
        font-size: 1.5rem;
    }
    #products h3 {
        align-self: center;
        font-size: 1rem;
        width: fit-content;
        padding: 0 1rem;
        color: var(--light-text-color);
        background-color: var(--primary-color);
    }
    .products-title-con {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .products-title-con img {
        display: initial;
    }

    .products-title-con h1 {
        color: white !important;
        position: absolute;
    }
    .products-header-img {
        width: 100%;
    }
    .product-content-con {
        flex-direction: column;
    }
    .product-text-con {
        width: fit-content;
        line-height: 2rem;
    }
    .product-content-con img {
        width: 100%;
    }
}