@import url("../variables.css");

#testimonials {
    padding:7%;
    position: relative;
    background-color: var(--light-background-color);
}

#testimonials h2 {
    text-align: center;
    z-index: 10;
    position: relative;
}

.testimonials-con {
    display: flex;
    position:relative;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.quote-con {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    padding: 0 var(--main-left-right-padding);
    z-index: 10;
    min-height: 25rem;
}

.quote-con p {
    font-family: var(--slab-font-family);
    margin-top: 3rem;
}

.testimonials-con img.circle-btn {
    height: fit-content;
}

.testimonials-con .circle-btn:hover {
    cursor: pointer;
    opacity: .6;
}

img.hexagons {
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    /* filter: brightness(200%); */
}

@media only screen and (max-width: 810px) {
    
    .quote-con {
        padding: 0;
        min-height: 14rem;
        justify-content: flex-start;
    }
    .circle-btn {
        width: 3rem !important;
        top: 0;
        /* margin-top: 1rem; */
    }
    .quote-con p{
        margin: .5rem 0 !important;
    }
    .testimonials-con {
        display: grid;
        grid-template-areas:
          "quote-con quote-con"
          "prev-arrow next-arrow";
        justify-items: center;
      }
      
      .quote-con {
        grid-area: quote-con;
      }
      
      .circle-prev-arrow {
        grid-area: prev-arrow;
        margin-left: 3rem;
      }
      
      .circle-next-arrow {
        grid-area: next-arrow;
        margin-right: 3rem;
      }
      
}