html {
    background-color: #658bb9;
}

#team-title-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 25vw;
    z-index: 10;

}
#team-title-con h1 {
    font-family: var(--slab-font-family);
    margin-bottom: .5rem;
    padding: 0 1rem;
    font-size: 7vw;
    color: white;
}
#team-title-con .bottom-bar {
    height: .8vw;
    max-height: .6rem;
    background-color: var(--lightest-color);
    border-radius: 15px;
    width: 70%;
}

#team-hero-background {
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    will-change: transform;
    max-height: 100vh;
    overflow: hidden;
}

#team-hero-background img {
    filter: saturate(130%) brightness(90%);
    width: 100%;
}

#team-hero-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(29, 0, 84, 0.35), transparent);
    pointer-events: none;
    z-index: 1;
}

main#team-main {
    background-color: var(--light-background-color);
    padding: 5% 10%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
    position: relative;
    
}
main#team-main::before {
    content: "";
    position: absolute;
    top: -12rem;
    left: 0;
    right: 0;
    height: 12rem;
    background: linear-gradient(to bottom, transparent, var(--light-background-color));
    pointer-events: none;
    z-index: 1;
}

.member-con {
    width: 25rem;
    position: relative;
    margin-bottom: 1.5rem;
    overflow-y: hidden;
}
.team-img-con {
    width: 100%;
    max-height: fit-content;
    transform: translateY(.4rem);
}
.team-img-con img{
    position: relative;
    z-index: 1;
    width: 100%;
}
.team-member-name-con {
    text-align: center;
    background-color: var(--primary-color);
    z-index: 10;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.team-member-name-con::before {
    content: "";
    position: absolute;
    top: 0rem;
    left: 0;
    right: 0;
    height: 0rem;
    background: linear-gradient(to bottom, transparent, var(--primary-color));
    pointer-events: none;
    z-index: 1;
}

.team-member-name-con h2 {
    font-size: 2rem;
    transform: translateY(1rem);
    color: var(--light-text-color);
    /* position: sticky; */
    /* bottom: -10rem; */
}



.team-member-title-con {
    /* position: absolute; */
    position: relative;
    width: 100%;
    bottom: 0;
    z-index: 100;
    text-align: center;
    background-color: var(--primary-color);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
.team-member-title-con h3 {
    font-size: 1.5rem;
    color: var(--light-text-color)
}

.member-con:hover .team-member-name-con {
    bottom: 5rem;
    transition-duration: .3s;
}

.member-con:hover .team-member-name-con h2 {
    transform: translateY(0rem);
    transition-duration: .8s;
}


.member-con:hover .team-member-name-con::before {
    content: "";
    position: absolute;
    top: -12vw;
    left: 0;
    right: 0;
    height: 12vw;
    background: linear-gradient(to bottom, transparent, var(--primary-color));
    pointer-events: none;
    z-index: 1;
    transition-duration: .3s;
}


@media only screen and (max-width: 480px) {
    .team-member-name-con h2 {
        font-size: 1.5rem;
    }
    .team-member-title-con h3 {
        font-size: 1.2rem;
    }

    .member-con .team-member-name-con {
        position: initial;
        transition-duration: 0s;
    }
    
    .member-con .team-member-name-con h2 {
        text-decoration: underline;
        padding-top: 1rem;
        transform: translateY(0rem);
        transition-duration: 0s;
    }
    
    
    .member-con .team-member-name-con::before {
        display: none;
        content: "";
        position: absolute;
        top: 0rem;
        left: 0;
        right: 0;
        height: 0rem;
        background: linear-gradient(to bottom, transparent, var(--primary-color));
        pointer-events: none;
        z-index: 1;
        transition-duration: 0s;
    }
}
    