:root {
    --primary-color: #1d0054;
    --secondary-color: #bdd3f6; 
    --secondary-light-color: #f3f8ff;
    --secondary-color-dark: #658bb9;
    --lightest-color: #f7f7f7;
    --darkest-text-color: #000000;
    --error: rgb(201, 74, 74);
    --focus-second: rgb(108, 108, 108);
    --font-family: ;
    --font-size: ;
    --padding: ;
    --margin: ;
    --border-radius: ;

    --mobile-nav-height: 4rem;

    --main-left-right-padding: 7%;

    --header-padding-right: 7%;

    --header-margin-left: 7%;

    --nav-text-color: #ffffff;
    --nav-background: var(--primary-color);
    --nav-background-2: var(--secondary-color-dark);
    /* --nav-background: #4771a4; */
    /* --nav-background: #4479b9; */
    --burger-color-light: #ffffff;
    --light-text-color: #ffffff;
    --light-background-color: #e3efff;
    --lightest-background-color: #ffffff;
    
    --reg-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --condensed-font-family: 'Roboto Condensed', sans-serif;
    --slab-font-family: 'Roboto Slab', serif;

    --above-header: 999999;

    --h1-font-size-pc: 4.5rem;
    --h2-font-size-pc: 3rem;
    --h3-font-size-pc: 2.5rem;
    --p-font-size-pc: 1.8rem;

    /* iPad Size 810px */
    --h1-font-size-810px: 4rem;
    --h2-font-size-810px: 2rem;
    --h3-font-size-810px: 2rem;
    --p-font-size-810px: 1.5rem;

    /* Phone Size 428px */
    --h1-font-size-428px: 2.5rem;
    --h2-font-size-428px: 1.5rem;
    --h3-font-size-428px: 1.5rem;
    --p-font-size-428px: 1.2rem;
}