.learn-more-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
}

.learn-more-modal div {
    height: 40vw;
    width: 80%;
    display: flex;
    background-color: white;

}

.learn-more-modal div img {
    height: 100%;
}

.learn-more-modal div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5%;
}

.learn-more-modal div div h1 {
    text-align: center;
    font-size: 5vw;
    line-height: 5vw;
    /* margin-bottom: 3.5%; */
}

.learn-more-modal div div p {
    font-size: 1.5vw;
}

.learn-more-modal div div button {
    width: 40%;
    padding: 1vw 0;
    align-self: center;
    font-size: 1.5vw;
    background-color: var(--primary-color);
    color: var(--lightest-color);
    font-weight: bold;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
}

.learn-more-modal div div button:hover {
    scale: 1.05;
    filter: brightness(1.05);
    transition-duration: .1s;
}
